<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOLA</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link href="static/logout.css" rel="stylesheet">
    <style>
        form.form-signin-1{
            max-width: 330px;
            padding: 15px;
            margin: 0 auto 0 0;
        }
    </style>
</head>
<body>
<h1>Hello, user!</h1>
<form class="form-signin-1" method="get" action="/logout">
    <h2 class="form-signin-heading">Please sign in1</h2>
    <p>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
    </p>
    <p>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
    </p>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
</form>
</body>
</html>